<p style="color: green"><%= notice %></p>

<h1>Movies</h1>


<%= link_to "New movie", new_movie_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </tbody>
</table>

